.carusel{
    padding-top: 69px;
    padding-bottom: 100px;
    background-color: #F5F5F5;
}

.item{
    max-width: 378px;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.carusel-top{
    // width: 545px;
    margin-bottom: 35px;
}
.carusel-top-title{
    margin: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 30px;
    line-height: 187.5%;
    color: #222222;
}
.carusel-top-text{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 187.5%;
    color: #525252;
}
.owl-dots{
    display: none;
}
.carusel-little-title{
    display: inline-block;
    margin-bottom: 19px;
    padding-top: 7px;
    padding-right: 35px;
    padding-bottom: 6px;
    padding-left: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 187.5%;
    color: #DC0000;
    background: rgba(220, 0, 0, 0.1);
    border-radius: 8px;
}
.carusel-item-title{
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 187.5%;
    color: #000000;
}
.carusel-text{
    margin: 0;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 187.5%;
    color: #525252;
}
.carusel-item-link{
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 500;
    font-size: 14px;
    line-height: 187.5%;
    color: #DC7000;
    text-decoration: none;
}
.carusel-item-link::after{
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    margin-left: 10px;
    background-image: url("../images/right-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.carusel-item-link:hover{
    color: #DC7000;
}
.carusel-container{
    padding-left: 20px;
    padding-right: 20px;
}

.owl-nav{
    position: absolute;
    top: -120px;
    right: 100px;
    padding: 20px;
}
.owl-prev span{
    margin-right: 20px!important;
    border-radius: 50%!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-right: 20px!important;
    padding-left: 20px!important;
    background-color: #fff!important;
    width: 40px!important;
    height: 20px!important;
    font-size: 37px!important;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}
.owl-prev:hover{
    color: #000000!important;
    background-color: transparent!important;
}
.owl-next span{
    margin-right: 20px!important;
    border-radius: 50%!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-right: 20px!important;
    padding-left: 20px!important;
    background-color: #fff!important;
    width: 40px!important;
    height: 20px!important;
    font-size: 37px!important;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}
.owl-next:hover{
    color: #000000!important;
    background-color: transparent!important;
}

.owl-stage{
    height: 0px;
    margin-left: -95px;
}
.owl-stage-outer{
    height: 400px;
}
.owl-carousel{
    // max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1100px) {
    .owl-item{
        margin-right: 40px!important;
    }
}

@media only screen and (max-width: 999px) {
    .disabled{
        display: block;
    }
    .owl-nav{
        position: absolute;
        top: 350px!important;
        right: 50px!important;
        padding: 20px;
    }
    .cloned{
        margin: 0;
        width: 0;
    }
    .owl-stage{
        margin-left: 0;
    }
}

@media only screen and (max-width: 582px) {
    .owl-item{
        // width: 300px!important;
        margin-left: -50px;
    }
}

@media only screen and (max-width: 410px) {
    .item{
        margin-right: 60px;
        padding: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .owl-nav{
        top: 390px!important;
    }
}

@media only screen and (max-width: 700px) {

    .owl-stage{
        margin-left: 0;
    }
}
